    div{
        padding: 0;
        margin: 0;

    }



    .logo-container {
        position: absolute;
        top: 10px;
        left: 10px;
        background-image: url('logo.png'); 
        background-size: contain;
        background-repeat: no-repeat;
        width: 80px; 
        height: 80px; 
    }

    .tst {
        background-image: url('back.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .container {
        display: grid;
        grid-template-columns:  10% 25% 20% 35% 5%;
        grid-template-rows: 30% 40% 30%;
        width: 100%;
        padding: 0;
        margin: 0;

    }

    .content {
        grid-column: 2 / 2;
        grid-row: 1 / 2;
        text-align: left;
    }

    .content h2 {
        color: #8B0000;
        font-size: 3em;
        margin: 0;
    }

    .content h4 {
        color: #8B0000;
        font-size: 1.5em;
        margin-left: 80px; /* Move right */
        margin-top: 40px;
    }

    .form {
        grid-column: 4 / 6;
        grid-row: 1 / 4;
        width: 50%;
        height: 80%;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(20px);
        border: 2px solid rgba(255, 255, 255, 0.2);
        color: white;
        border-radius: 10px;
        padding: 30px 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    button {
        width: 100%;
        height: 60px;
        background-color: #DC143C;
        border: none;
        border-radius: 40px;
        cursor: pointer;
        font-size: 16px;
        color: white;
        font-weight: 600;
        margin-top: 20px;
    }

    button:hover {
        background-color: #A52A2A;
    }
