.schedule-container {
    width: 100%;
    height: 60px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
  }
  .section {
    display: flex;
    width: 80%;
    justify-content: space-between;
  }
  
  .time-period {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 45%;
  }
  
  .period-header {
    background-color: #d3d3d3;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .task-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  
  .task {
    background-color: #e0e0e0;
    padding: 5px;
    border-radius: 5px;
  }
  
  .details {
    background-color: #5355bd;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    color: white;
  }

  input::placeholder{
    color: white;
  }
  textarea::placeholder{
    color: white;
  }
  
  .details:focus {
    outline: none;
    border-color: #200dcc81;
  }

  .divider {
    width: 5px;
    background-color: rgb(24, 5, 133);
    height: 100%;
    margin: 10px 10px;
  }
  